<div class="card text-center">
 <h5 class="card-header"><i class="bi bi-exclamation-circle-fill"></i>About</h5>
  <div class="card-body">
        <p>
            <h5 class="card-title">Name: Briant Glasford</h5>
            <h5 class="card-title">Date: 12/11/2023</h5>
            <h5 class="card-title">STN:  100868281</h5>
            <h5 class="card-title">Course: WEBD-5201</h5>
            <h5 class="card-title">Description: This is a demo application that allows the user to create products that they sell at the store. They can insert the products name, the date of products, images, SKU numbers, prices and a description. Examples are provide in the application</h5>
        </p>
  </div>
</div>