<h1>
    Welcome To BMG Electronics
</h1>
<hr class="rounded">
<h3>Items for sale</h3>
<hr class="rounded">

        <div class= "row">
            <% @products.each do |product| %>
            <%= render product %>
            </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>





